<Head>
</Head>
<body>
  <ul>
    <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/alldose']">All Dose data</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/lastdose']">last Dose data</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/ReplaceReservoir']">Replace Reservoir</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/showclock']">Show Clock</a></li>
  </ul>
  <br>
  <h2 class="header" style="color: #009879;text-align: center;">Nurse System</h2>
  <br>
  <h4 style="padding-left: 20px;">In this System Nurse can Show All Data for Patients Like (Patient name , ID , Blood
    Suger,
    Insulin Dose , State , Time)<br> and Last Dose for all Patient also can Replace Reservoir for specific Patient</h4>
</body>