tbody{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border: 1px solid rgb(199, 184, 184);
    width: 85%;
    margin: auto;
    margin-top:70px;
    border-spacing: 0;
    font-size:16px;
    text-align: center;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(0,0,0,0.15);
    
}

table tr{
    border: 2px solid rgb(199, 184, 184); 
}

table td{
    border: 2px solid rgb(199, 184, 184);   
    padding: 5px;
}
table th{
    padding: 12px 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background:#009879;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(199, 184, 184);
    font-weight: bold;
    text-align: center; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }

  .abnormal 
  {
    background-color:rgb(251, 80, 80);
  }
  .normal 
  {
    background-color:#73ecd4;
  }